#boton{
    background-color:lightsalmon;
    border-radius: 10px;
    padding: 15px;
    border-style: dashed;
margin: 20px;


}



#boton:hover{
    background-color:lightskyblue;
}


a{
    width: 20%;

}

img{
    width: 200px;
}

#imagen-boton{
    float:left
    display: block;
}
.texto-centrado{
    text-align: center;
    background-color:lightcoral;
    border-radius: 15px;
    width:50%;
    margin: 5% 25% 5% 25%;
}
body{
    background-color:bisque;
    font-family:sans-serif;
}


  
  nav {
    background-color: lightcoral; /* Color de la barra de navegación */
    padding: 15px 20px;
    text-align: center;
  }
  
  nav a {
    color: #ffffff; /* Color del texto en la barra de navegación */
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  nav a:hover {
    border-bottom: 2px solid #ffffff; /* Línea inferior al pasar el mouse */
  }

  #contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:  lightcoral;;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a.button {
    display: inline-block;
    background-color: #ffbb00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  a.button:hover {
    background-color: #0056b3;
  }